.s2 {
    background: linear-gradient(350deg, #0108bd, #44df33, #551d65);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 25s ease infinite;
    -moz-animation: AnimationName 25s ease infinite;
    -o-animation: AnimationName 25s ease infinite;
    animation: AnimationName 25s ease infinite;
    .name-title2{
        font-family: 'Silkscreen', cursive;
        color: rgb(29, 19, 30);

    }
    .name-text{
        font-family: 'Share Tech Mono', monospace;
        
    }
    .name-text__link{
        color: rgb(29, 19, 30);
    }

    span{
        background-color: white!important;
    }
    
}